target
dist
.cargo/config
NDK

**/*.rs.bk
*.zip
*.profraw

*.sqlite*
*.db
*.db-journal
# 临时文档
*.md

# 构建缓存/下载
gradle-8.1-bin.zip
gradle/wrapper/gradle-8.1-bin.zip
platform-tools-latest-linux.zip
platform-tools/


# 自动生成的 fastlane 图标
fastlane/metadata/android/en-US/images/icon.png